[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/lusty"]
	path = .vim/bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule ".vim/bundle/bisect"]
	path = .vim/bundle/bisect
	url = git://github.com/mikezackles/Bisect.git
[submodule ".vim/bundle/alternate"]
	path = .vim/bundle/alternate
	url = git://github.com/Sep102/a.vim.git
[submodule ".vim/bunldle/yankring"]
	path = .vim/bunldle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/yankring"]
	path = .vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/pep8"]
	path = .vim/bundle/pep8
	url = git://github.com/jcrocholl/pep8.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://github.com/vim-scripts/Command-T.git
[submodule ".vim/bundle/camelcasemotion"]
	path = .vim/bundle/camelcasemotion
	url = git://github.com/bkad/CamelCaseMotion.git
[submodule ".vim/bundle/bclose"]
	path = .vim/bundle/bclose
	url = git://github.com/rbgrouleff/bclose.vim.git
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/xterm-color-table"]
	path = .vim/bundle/xterm-color-table
	url = git://github.com/guns/xterm-color-table.vim
[submodule ".vim/bundle/rainbow-parenthesis"]
	path = .vim/bundle/rainbow-parenthesis
	url = git://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule ".vim/bundle/go"]
	path = .vim/bundle/go
	url = git://github.com/anzaika/go.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = git://github.com/bronson/vim-trailing-whitespace.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-conque"]
	path = .vim/bundle/vim-conque
	url = git://github.com/rson/vim-conque.git
[submodule ".vim/bundle/vim-pyflakes"]
	path = .vim/bundle/vim-pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/inkpot"]
	path = .vim/bundle/inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
