*customization: -color
xterm*termName: xterm-256color
xterm*foreground: white
xterm*background: black
xterm*internalBorder: 1
xterm*scrollBar: false
xterm*saveLines: 100000
xterm*scrollKey: true
xterm*faceName: DejavuSansMono:size=8
xterm*utf8: true
xterm*metaSendsEscape: true
uxterm*metaSendsEscape: true

urxvt.termName: rxvt-256color
urxvt.scrollBar: false
urxvt.scrollTtyOutput: false
urxvt.scrollWithBuffer: true
urxvt.scrollTtyKeypress: true
urxvt.secondaryScroll: true
urxvt.jumpScroll: true
urxvt.skipScroll: true
urxvt.perl-ext-common: default,matcher,readline,selection-autotransform
urxvt.matcher.button: 1
!urxvt.selection-autotransform.0: s/^([^:[:space:]]+):(\\d+):?$/vi +$2 \\Q$1\\E\\x0d/

! FONTS
urxvt.font: -*-montecarlo-medium-*-*-*-*-*-72-72-*-*-*-*
!urxvt.font: -*-proggyoptis-*-*-*-*-10-*-*-*-*-*-*-*
!urxvt.boldFont: -*-montecarlo-bold-*-*-*-*-*-72-72-*-*-*-*
!urxvt.font: xft:DejavuSansMono:size=6
urxvt.buffered: true
urxvt.depth: 32
urxvt.background: rgba:0000/0000/0000/cccc
urxvt.foreground: white
urxvt.cursorColor: blue
urxvt.cursorBlink: true
urxvt.tintColor: black
!urxvt.inheritPixmap: true
!urxvt.backgroundPixmap: /home/archlucas/pictures/bg.png;:root
urxvt.saveLines: 500
urxvt.dynamicColors:  on
urxvt.highlightSelection:  true
urxvt.borderWidth: 1
urxvt.urlLauncher: chromium
urxvt.pointerBlank: true
urxvt.internalBorder: 0
urxvt.urgentOnBell: true
urxvt.visualBell: false
urxvt.keysym.C-minus: command:\033]50;xft:DejavuSansMono:size=6\007
urxvt.keysym.C-equal: command:\033]50;xft:DejavuSansMono:size=8\007
urxvt.inputMethod: fcitx
urxvt*geometry: 90x25

xpdf.reverseVideo: true
xpdf.initialZoom: width
xpdf.matteColor: black
xpdf.paperColor: black
xpdf*enableFreetype: yes
xpdf*foreground:dodgerblue
xpdf*background:black
xpdf.fontList: ter-d24n
xpdf.urlCommand: browser %s

Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting:   1
Xft.antialias: 1
Xft.dpi:       96
Xft.rgba:      rgb
