*customization: -color
XTerm*termName: xterm-256color
XTerm*foreground: white
XTerm*background: black
XTerm*internalBorder: 1
XTerm*scrollBar: false
XTerm*saveLines: 1000
XTerm*scrollKey: true
xterm*faceName: terminus:pixelsize=10

xft*dpi:96 
xft*antialias: true
xft*rgba: rgb
xft*lcdfilter: lcddefault

urxvt.termName: rxvt-256color
urxvt.scrollBar: false
urxvt.scrollTtyOutput: false
urxvt.scrollWithBuffer: true
urxvt.scrollTtyKeypress: true
urxvt.secondaryScroll: true
urxvt.jumpScroll: true
urxvt.skipScroll: true

urxvt.perl-ext-common: default,matcher,readline,selection-autotransform

urxvt.matcher.button: 1
!urxvt.selection-autotransform.0: s/^([^:[:space:]]+):(\\d+):?$/vi +$2 \\Q$1\\E\\x0d/

! FONTS
urxvt.font: xft:Monospace:pixelsize=9:antialias=true:hinting=true
!urxvt.boldFont: xft:Monospace:style=Bold:pixelsize=9:antialias=true:hinting=true
!urxvt.depth: 32
urxvt.background: rgba:0000/0000/0000/cccc
urxvt.foreground: white
!urxvt.borderColor: rgba:0000/0000/0000/0000
urxvt.cursorColor: blue
urxvt.cursorBlink: true
!urxvt.tintColor: black
!urxvt.inheritPixmap: true 
!urxvt.backgroundPixmap: /home/archlucas/pictures/bg.png;:root
urxvt.saveLines: 500
urxvt.visualBell: false
urxvt.dynamicColors:  on
urxvt.highlightSelection:  true
urxvt.borderWidth: 1
urxvt.urlLauncher: chromium
urxvt.pointerBlank: true
urxvt.internalBorder: 0
!urxvt.urgentOnBell: true
!urxvt.visualBell: true
urxvt.keysym.C-minus: command:\033]50;xft:Monospace:pixelsize=9:antialias=true:hinting=true\007
urxvt.keysym.C-equal: command:\033]50;xft:Monospace:pixelsize=12:antialias=true:hinting=true\007

urxvt.inputMethod: fcitx
urxvt*geometry: 90x25

xpdf.reverseVideo: true
xpdf.initialZoom: width
xpdf.matteColor: black
xpdf.paperColor: black
xpdf*enableFreetype: yes
xpdf*foreground:dodgerblue
xpdf*background:black
xpdf.fontList: ter-d24n
xpdf.urlCommand: browser %s
